/*-----basic styling---------*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "MyWebFont", "PT Sans" !important;
  letter-spacing: 2px;
  font-weight: 300;
  background: #FFFFFF !important;
  color:#000000 !important;
}
.whitespace {
  width: 100%;
  height: 100px;
}

@media(max-width: 768px) {
  .whitespace {
    display: none;
  }
}

meta{
  display: none;
}

/*-----CUSTOM FONT---------*/

@font-face {
font-family: "Tate Regular","MyWebFont";
src: url('/resources/fonts/Tate Regular.otf') format('otf');
font-weight: bold;
font-style: normal;
 }
}

/*-----navigation---------*/

nav{
  width: 100%;
  background: #FFFFFF;
  height: 10px;
  position: FIXED;
  z-index: 1;
}

nav #brand{
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: 900;
  letter-spacing: 2px;
}

nav #brand a {
     color: #000000;
     transition: all 0.2s ease-out;
}

nav #brand a:hover {
   text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li{
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  line-height: 80px;
  position: relative;
  transition: all 0.2s ease-out;
  font-weight: 900;
  letter-spacing: 2px;
}

nav #menu li span{
  font-weight: 900;
}

nav #menu li a{
   color: #000000;
}

nav #menu li a:hover{
   text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn{
  position: absolute;
  right: 16px;
  font-weight: 900;
  letter-spacing: 2px;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #f1f1f1;
   width: 100%;
   height: 100%;
   visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu{
     height: 90px;
     position: absolute;
     left: 45%;
     transform: translateX(-40%);
     text-align: center;
     display: table-cell;
     vertical-align: center;
}

#resize #menu li{
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a{
  color: #000000;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}


@media(max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 24px;
  }
   #menu a{
     font-size: 30px;
     font-weight: 900;
     letter-spacing: 2px;
   }
   #resize li span {
      font-weight: 900;
      letter-spacing: 2px;
   }
  nav #menu {
    display: none;
  }
}

@media(min-width: 768px) {
   #resize {
     visibility: hidden !important;
   }
}

@media (max-width: 640px){
#resize #menu li {
   font-size: 10px;
  }
}

@media (max-width: 640px){
#menu a {
   font-size: 10px;
  }
}

@media (max-width: 640px){
.close-btn {
 visibility: hidden;
  }
}

/*-----------Slider------------*/
#slider
{
     width: 100%;
}
.carousel-caption
{
     top: 50%;
     transform: translateY(-50%);
     bottom: initial!important;
}
.carousel-caption h1
{
     color: #ffffff;
     font-size: 42px;
}
.carousel-caption P
{
font-size: 20px;
color: #1e1611;
}

.carousel-control-prev-icon {
    visibility: hidden;
  }
.carousel-control-next-icon {
      visibility: hidden;
    }
.carousel-indicators {
        visibility: hidden;
      }

@media (max-width: 640px){
.carousel-caption h1 {
   font-size: 10px;
  }
}
@media (max-width: 640px){
.carousel-caption p {
   font-size: 5px;
  }
}

/*-----projects section---------*/
h6{
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin-top: 10px;
}
.project {
    height: 700px;
}

header h1{
Color: #000000;
text-align: center;
margin: 60px auto;
font-size: 40px;
font-weight: 400;
}

p{
   text-align: center;
   color: #000000;
  font-weight: 300;
  margin-top: 10px;
}
.wall {
 display: block;
 position: relative;
}
.wall-item{
  display: block;
  margin: 0 0 24px 0;
  padding: 12px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition: all 200ms;
}
.wall-item:hover{
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
  transition: all 200ms;
}
.wall-item > img {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}
.wall-item h2{
  text-align: center;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}
.wall-item p{
  text-align: center;
  color: #000000;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.wall-column {
  display: block;
  position: relative;
  width: 33.3333%;
  float: left;
  padding: 0 12px;
  box-sizing: border-box;
}

@media (max-width: 640px){
.wall-item h2 {
   font-size: 10px;
  }
}
@media (max-width: 640px){
.wall-item p {
   font-size: 5px;
  }
}

@media (max-width: 640px){
.wall-column {
  width: 50%;
  }
}
@media (max-width: 480px){
  .wall-column {
    width: auto;
    float: none;
  }
}
@keyframes animate
{
    0%
    {
      filter: hue-rotate(0deg);
    }
    100%
    {
      filter: hue-rotate(360deg);
    }
}

/*-----footer section---------*/

.collab {
  text-align: right;
}

.collab p{
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}
.info h4{
     font-size: 12px;
     font-weight: 400;
     letter-spacing: 2px;
}
.info p{
  color: #000000;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
}
.info li{
   font-weight: 400;
   color: #000000;
   font-size: 14px;
   padding-left: 20px;
}
#fb::before{
  display: inline-block;
  content:'';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}
#ig::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}

#tw::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
}

#yt::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b;
}

#media, #address {
    text-align: right;
}

#media ul{
  list-style: none;
}

#media ul li{
  display: inline-block;
}

@media(max-width: 768px) {
   .collab, #personal, #media, #address {
        text-align: center;
   }
   .info ul{
     margin: 0 0 0 -22px;
     padding: 0;
   }
}

@media (max-width: 768px){
.collab p {
   font-size: 10px;
  }
}
